<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
<string>https://pack1.babytree-inc.com/view/%E5%AD%95%E8%82%B2iOS/job/IOS_MikaInCar_master/ws/store/1330/MikaInPad-1330.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://gitlab.babytree-inc.com/publictest/test-cloud-front/-/blob/master/src/images/flower.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.babytree.mikainpad</string>
                <key>bundle-version</key>
<string>1.0.8</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>宝宝树mika测试包</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
